body {
    background: url(../images/bg.png);
    font-size: 25px;
}

.banner {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: border-left: ;

}

img {
    height: 200px;
    width: 200px;
/*    border: 2px solid red; */

}

.action-bar {
    text-align: center;
    padding-top: 4.5%;
}

/*.clicked {
    background-color: yellow;
}*/

.selectCharacters {
/*    border: 2px solid black;*/
    text-align: center;
    height: 325px;
}

.playerCharacter {
/*    border: 2px solid blue;*/
    display: block;
    margin: auto;
    height: 325px;
}

.enemyCharacters {
/*    border: 2px solid orange;*/
    height: 325px;
}

.combat-log {
    text-align: center;
    border: 2px solid black;
    height: 100px;
}