body {
    background: url(../images/bg.png);
    font-size: 20px;
}

img {
    height: 250px;
    width: 250px;
/*    border: 2px solid red; */

}

.action-bar {
    text-align: center;
    padding-top: 4.5%;
}

/*.clicked {
    background-color: yellow;
}*/

.selectCharacters {
    border: 2px solid black;
}

.playerCharacter {
    border: 2px solid blue;
    display: block;
    margin: auto;

}

.enemyCharacters {
    border: 2px solid orange;
}
.col-md-6 {
    border: 2px solid black;
    height: 400px;
}

.combat-log {
    text-align: center;
}